
/* 
Шрифты:
font-family: 'Roboto', sans-serif; 
*/

/*(TODO)*/

* {
    padding: 0;
    margin: 0;
}

a,input,p,h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}
/*TODO*/
a {
    text-decoration: none;
    line-height: 0;
    color: #000000;
  }

/* Шапка*/

.header {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.col-xs-12 {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.box-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket {
    padding-left: 1em;
}

a.logIn {
    text-decoration: none;
    color:#1D1D1D;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.login {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    width: 78px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login:hover {
    background-color: silver;
}

/* Поле ввода */

.input {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 100%;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding-bottom: 0.2em;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/* 
Заголовок Ресторанов в москве
*/

.rest_moscow > .container-fluid > .container {
    padding-top: 2em;
}

/*
Плиткаресторанов в москве адаптивная
*/

.main_menu > .container-fluid > .container {
    padding-top: 2em;
    padding-bottom: 3em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    grid-template-rows: repeat(3, 366px);
}

.main_menu > .container-fluid > .container > div > img {
    width: 366px;
    height: 256px;
    object-fit: cover;
    padding-bottom: 1em;
}

.a {
    padding-bottom: 0.5em;
}

.a > a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #1D1D1D;
}

.main_menu > .container-fluid > .container > div > p {
    padding-bottom: 0.5em;
}

#p {
    color: #626262;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

/* FOOTER */

.footer {
    background: #262626;
}

.flogo {
    padding-top: 4em;
    padding-bottom: 4em;
}

.hr {
    mix-blend-mode: normal;
    opacity: 0.4;
}

.container-nav {
    padding-top: 2em;
}

.search-btn {
    width: 227px;
    height: 40px;
    background: #3B3B3B;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem1 {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.elem2 {
    padding-right: 1em;
}

.txt-btn {
    padding-left: 1em;
    color: #FFFFFF;
    font-size: 13px;
}

.tag {
    padding-top: 2em;
    display: flex;
}

.hash1 {
    color: #49A144;
    font-size: 16px;
}

.hash2 {
    color: #FFFFFF;
    font-size: 16px;
}

.icons {
    padding-top: 1em;
    display: flex;
}

.icon1, .icon2, .icon3 {
    padding-right: 0.5em;
}

.adb, .cphf {
    padding-top: 1em;
}

.about > a, .delivery > a, .become > a, .cities > a, .prices > a, .help > a, .faq > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
}

.about, .delivery, .become, .cities, .prices, .help, .faq {
    padding-bottom: 2em;
}

.container-nav {
    padding-top: 2em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.apps {
    padding-top: 4em;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
}

.apple {
    padding-right: 2em;
}

.Uber > a, .privacy > a, .term > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px
}

.copyright {
    padding-top: 2em;
    padding-bottom: 3em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/*Pushkin page*/

/*RESTAURANT HEADER*/

.restaurant-header {
    background-image: url(images/pushkin/restaurant-main.png);
    background-size: cover;
}
  
.restaurant-header > .container {
padding-top: 2em;
padding-bottom: 2em;
}

.restaurant-card {
background: #FFFFFF;
box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
border-radius: 2px;
padding-top: 2em;
padding-bottom: 2em;
}

.text-description {
color: #626262;
display: flex;
align-self: center;
}

.time-deliver {
background: #262626;
border-radius: 16px;
padding: 0.3em;
color: #ffffff;
}

.card-title {
display: flex;
justify-content: space-around;
}

.card-text {
padding-top: 4em;
display: flex;
justify-content: space-around;
}

/*RESTAURANT NAVIGATION*/

.restaurant-navbar {
    background: #FFFFFF;
    border: 1px solid rgba(117, 117, 117, 0.2);
  }
  
  ul {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  li {
    display: inline;
    cursor: pointer;
    color: #626262;
    padding-right: 1em;
  }
  
  .restaurant-navigation-list {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    text-align: center;
  }
  
  .active {
    color: #327430;
  }
  
/*RESTAURANT MENU FOOD*/

.food5, .food4, .food3, .food2, .food1, .food {
    border: 1px solid rgba(117, 117, 117, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
  }
  
  .food-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  
  .food-price {
    padding-left: 1em;
    padding-bottom: 1em;
  }
  
  .food-description {
    padding-left: 1em;
    padding-top: 1em;
  }
  
  /*TODO*/
  .hid {
    visibility: hidden;
  }
  
  #grid-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr)); 
    grid-template-rows: 1fr 1fr; 
    grid-gap: 1em; 
  }
  
  .rest-option1 > .container > .option1 {
    padding-top: 3em;
    padding-bottom: 2em;
  }
  
  .food5:hover {
    background: rgba(117, 117, 117, 0.04);
    mix-blend-mode: normal;
  }

  .food4:hover {
    background: rgba(117, 117, 117, 0.04);
    mix-blend-mode: normal;
  }

  .food3:hover {
    background: rgba(117, 117, 117, 0.04);
    mix-blend-mode: normal;
  }

  .food2:hover {
    background: rgba(117, 117, 117, 0.04);
    mix-blend-mode: normal;
  }

  .food1:hover {
    background: rgba(117, 117, 117, 0.04);
    mix-blend-mode: normal;
  }

  .food:hover {
    background: rgba(117, 117, 117, 0.04);
    mix-blend-mode: normal;
  }

  .rest-menu {
      padding-bottom: 5em;
  }