
/* 
Шрифты:
font-family: 'Roboto', sans-serif; 
*/

/*(TODO)*/

* {
    padding: 0;
    margin: 0;
}

a,input,p,h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

/* Шапка*/

.header {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.col-xs-12 {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.box-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket {
    padding-left: 1em;
}

a.logIn {
    text-decoration: none;
    color:#1D1D1D;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.login {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    width: 78px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login:hover {
    background-color: silver;
}

/* Поле ввода */

.input {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 100%;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding-bottom: 0.2em;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/* 
Заголовок Ресторанов в москве
*/

.rest_moscow > .container-fluid > .container {
    padding-top: 2em;
}

/*
Плиткаресторанов в москве адаптивная
*/

.main_menu > .container-fluid > .container {
    padding-top: 2em;
    padding-bottom: 3em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    grid-template-rows: repeat(3, 366px);
}

.main_menu > .container-fluid > .container > div > img {
    width: 366px;
    height: 256px;
    object-fit: cover;
    padding-bottom: 1em;
}

.a {
    padding-bottom: 0.5em;
}

.a > a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #1D1D1D;
}

.main_menu > .container-fluid > .container > div > p {
    padding-bottom: 0.5em;
}

#p {
    color: #626262;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

/* FOOTER */

.footer {
    background: #262626;
}

.flogo {
    padding-top: 4em;
    padding-bottom: 4em;
}

.hr {
    mix-blend-mode: normal;
    opacity: 0.4;
}

.container-nav {
    padding-top: 2em;
}

.search-btn {
    width: 227px;
    height: 40px;
    background: #3B3B3B;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem1 {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.elem2 {
    padding-right: 1em;
}

.txt-btn {
    padding-left: 1em;
    color: #FFFFFF;
    font-size: 13px;
}

.tag {
    padding-top: 2em;
    display: flex;
}

.hash1 {
    color: #49A144;
    font-size: 16px;
}

.hash2 {
    color: #FFFFFF;
    font-size: 16px;
}

.icons {
    padding-top: 1em;
    display: flex;
}

.icon1, .icon2, .icon3 {
    padding-right: 0.5em;
}

.adb, .cphf {
    padding-top: 1em;
}

.about > a, .delivery > a, .become > a, .cities > a, .prices > a, .help > a, .faq > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
}

.about, .delivery, .become, .cities, .prices, .help, .faq {
    padding-bottom: 2em;
}

.container-nav {
    padding-top: 2em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.apps {
    padding-top: 4em;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
}

.apple {
    padding-right: 2em;
}

.Uber > a, .privacy > a, .term > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px
}

.copyright {
    padding-top: 2em;
    padding-bottom: 3em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/*Pushkin page*/

.restaurant-main {
    width: 2000px;
}
