* {
  margin: 0;
  padding: 0;
}
  
a {
    text-decoration: none;
    line-height: 0;
    color: #000000;
  }



/*RESTAURANT HEADER*/

.restaurant-header {
  background-image: url(images/pushkin/restaurant-main.png);
  background-size: cover;
}

.restaurant-header > .container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.restaurant-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.text-description {
  color: #626262;
}

.time-deliver {
  background: #262626;
  border-radius: 16px;
  color: #ffffff;
}